.container {
  padding: 0 var(--container-padding);
	max-width: var(--container-xl);
	margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: var(--container-l);
  }

  @media (max-width: 1024px) {
    padding: 0 var(--container-sm-padding);
  }

  @media (max-width: 992px) {
    max-width: var(--container-md);
  }

  @media (max-width: 620px) {
    max-width: var(--container-sm);
    padding: 0 var(--container-sm-padding);
  }
}