:root {
  --media-l: 1440px;
  --media-md: 1024px;
  --media-sm: 390px;

  --container-xl: 1388px;
  --container-l: 1420px;
  --container-md: 1024px;
  --container-sm: 390px;
	--container-padding: 10px;
	--container-sm-padding: 20px;

  --font-main: 'Roboto', sans-serif;

  --page-bg: #EFF0EF;
  --page-bg-2: #193439;
  --main-bg: #FFFFFF;
  --text-color-main: #333333;
  
  --text-white: #FFFFFF;
  --text-gray: #999999;
  --text-black-0: #000000;
  --text-black-26: #262626;

  --buy-btn-color: #F97402;
  --search-btn-color: #F97500;

  --border-color: #BFBFBF;
}